<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.url">jdbc:hsqldb:mem:db_test</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>

        <mapping class="cz.fit.cvut.contract_manager.entity.Contract" />
        <mapping class="cz.fit.cvut.contract_manager.entity.Customer" />
        <mapping class="cz.fit.cvut.contract_manager.entity.History" />
    </session-factory>
</hibernate-configuration> 